{% extends 'base.html.twig' %}

{% block title %}{{ 'Home'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md col-xs-12">
                {{ form_row(form.cocktail) }}
            </div>
            <div class="col-md col-xs-12">
                {{ form_row(form.ingredients) }}
            </div>
            <div class="col-md-auto col-xs-12">
                <label class="form-label d-none d-md-block">&nbsp;</label>
                <input type="submit" class="btn btn-outline-primary" value="{{ 'Filter'|trans }}" name="submit-filter">
                <input type="submit" class="btn btn-outline-secondary" value="{{ 'Reset'|trans }}" name="reset-filter">
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="mt-4 d-block d-md-none">
        {% for cocktail in cocktails %}
            {% include 'app/cocktail/_cocktail_list_item.html.twig' %}
        {% endfor %}
    </div>
    <div class="row mt-4 row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 d-none d-md-flex">
        {% for cocktail in cocktails %}
            {% include 'app/cocktail/_cocktail_card_item.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
