{% extends 'base.html.twig' %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block content %}
    <div class="">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.name) }}
            </div>
            <div class="col">
                {{ form_row(form.ingredients) }}
            </div>
            <div class="col">
                {{ form_row(form.glass) }}
            </div>
            <div class="col">
                <label class="form-label">&nbsp;</label><br>
                <input type="submit" class="btn btn-outline-primary" value="Filter" name="submit-filter">
                {# <input type="submit" class="btn btn-outline-primary" value="Reset"> #}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="row mt-4 row-cols-1 row-cols-md-4 g-4">
        {% for cocktail in cocktails %}
            {% include 'app/cocktail/_cocktail_list_item.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}
