<div class="card list-layout-card text-white bg-dark mb-3">
    <div class="row g-0 h-100">
        <div class="col-4">
            <a href="{{ path('app_cocktail_show', {'id': cocktail.id}) }}">
                {% if cocktail.photo %}
                    <div class="img rounded-start" style="background-image: url({{ asset(cocktails_directory ~ "/" ~ cocktail.photo) }})"></div>
                {% else %}
                    <div class="img rounded-start" style="background-image: url({{ asset('images/missing-cocktail.jpg') }})"></div>
                {% endif %}
            </a>
            {# Todo featured functionnality on mobile #}
            {#                {% if cocktail.isFeatured %} #}
            {#                    <span class="featured badge bg-primary">{{ 'Featured'|trans }} <i class="fas fa-rocket"></i></span> #}
            {#                {% endif %} #}
            {#                <a href="{{ path('app_cocktail_show', {'id': cocktail.id}) }}" class="card-link"> #}
            {#                </a> #}
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">{{ cocktail.name }}</h5>
                {# {% if cocktail.category %}<h6 class="card-subtitle mb-2 text-muted">{{ cocktail.category }}</h6>{% endif %} #}
                {# <p class="card-text"> #}
                {# Some quick example text to build on the card title and make up the bulk of the card's #}
                {# content. #}
                {# </p> #}
                <div class="float-end pt-4">
                    {% if appConfig.getConfigItem('ordersOpen') %}
                        <a href="{{ path('app_cocktail_order', {'id': cocktail.id}) }}" class="btn btn-outline-primary btn-sm">
                            <i class="fa-solid fa-basket-shopping"></i> {{ 'Order'|trans }}
                        </a>
                    {% endif %}
                    <a href="{{ path('app_cocktail_show', {'id': cocktail.id}) }}" class="btn btn-outline-primary btn-sm">{{ 'More'|trans }}
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
