{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'Edit Cocktail'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Edit Cocktail'|trans }}</h1>

    {{ include('admin/cocktail/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cocktail_admin_index') }}">{{ 'back to list'|trans }}</a>

    {{ include('admin/cocktail/_delete_form.html.twig') }}

    <turbo-frame id="cocktail-ingredients-admin" src="{{ path('cocktail_ingredient_admin_index', {'cocktail' : cocktail.id}) }}">
        {{ 'Loading...'|trans }}
    </turbo-frame>

{% endblock %}
