{% extends 'base_admin.html.twig' %}

{% block title %}{{ 'New Cocktail'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Add new cocktail'|trans }}</h1>

    {{ include('admin/cocktail/_form.html.twig') }}

    <a href="{{ path('cocktail_admin_index') }}">{{ 'Back to list'|trans }}</a>
{% endblock %}
