{% extends 'base_admin.html.twig' %}

{% block title %}Cocktail{% endblock %}

{% block content %}
    <h1>Cocktail</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'Id'|trans }}</th>
            <td>{{ cocktail.id }}</td>
        </tr>
        <tr>
            <th>{{ 'Name'|trans }}</th>
            <td>{{ cocktail.name }}</td>
        </tr>
        <tr>
            <th>{{ 'Description'|trans }}</th>
            <td>{{ cocktail.description | raw }}</td>
        </tr>
        <tr>
            <th>{{ 'Recipe'|trans }}</th>
            <td>{{ cocktail.recipe }}</td>
        </tr>
        <tr>
            <th>{{ 'Featured ?'|trans }}</th>
            <td>{{ cocktail.isFeatured ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>{{ 'Level'|trans }}</th>
            <td>{{ cocktail.level }}</td>
        </tr>
        <tr>
            <th>{{ 'Photo'|trans }}</th>
            <td>
                {% if cocktail.photo %}
                    <img src="{{ asset(cocktails_directory ~ "/" ~ cocktail.photo) }}" class="img-fluid" alt="{{ cocktail.name }}">
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('cocktail_admin_index') }}" class="btn btn-outline-secondary">Back to list</a>
    <a href="{{ path('cocktail_admin_edit', {'id': cocktail.id}) }}" class="btn btn-outline-secondary">Edit</a>

    {{ include('admin/cocktail/_delete_form.html.twig') }}
{% endblock %}
