{# todo merger avec index #}
<turbo-frame id="cocktail-ingredients-admin">
    <p class="h5 mb-3">{{ 'Ingredients'|trans }}</p>
    <div class="card card-body bg-dark">
        {{ form_start(form) }}
        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Quantity'|trans }}</th>
                <th>{{ 'Optional'|trans }}</th>
                <th>{{ 'Decoration'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for cocktail_ingredient in cocktail.ingredients %}
                {% set ingredient = cocktail_ingredient.ingredient %}
                <tr>
                    <td>{{ ingredient }}</td>
                    <td>{{ cocktail_ingredient.formattedQuantity }}</td>
                    <td>{{ cocktail_ingredient.isOptional }}</td>
                    <td>{{ cocktail_ingredient.isDecoration }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            {{ include('admin/cocktail_ingredient/_form.html.twig') }}
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
</turbo-frame>
