<!DOCTYPE html>
<html data-bs-theme="{{ appConfig.getConfigItem('theme') | default('dark') }}" lang="{{ app.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metas %}{% endblock %}
    <title>{% block title %}GinTonic{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('gintonic.css') }}?v={{ appConfig.getConfigItem('styleCacheKey') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <main class="d-flex flex-nowrap">
        {% include 'admin/_nav.html.twig' %}

        <div class="container mt-5">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}
</body>
</html>
