<!DOCTYPE html>
<html data-bs-theme="{{ appConfig.getConfigItem('theme') | default('dark') }}" lang="{{ app.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block metas %}{% endblock %}
    <title>{% block title %}GinTonic{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('gintonic.css') }}?v={{ appConfig.getConfigItem('styleCacheKey') }}">
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container">

        <div class="d-flex justify-content-center">
            <div>
                <a href="{{ path('index') }}">
                    <img alt="Logo" src="{{ asset('images/default-logo.svg') }}" width="400px">
                </a>
            </div>
        </div>

        {% block content %}{% endblock %}

        <footer class="text-center small text-secondary">
            {% if app.user %}
                <a href="{{ path('admin_index') }}" class="link-secondary">{{ 'Administration'|trans }}</a>
            {% else %}
                <a href="{{ path('login') }}" class="link-secondary">{{ 'Login'|trans }}</a>
            {% endif %}
            -
            {{ 'Powered by GinTonic'|trans }} {{ app_version }}
        </footer>
    </div>
    {% block flashes %}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            {% for label, messages in app.flashes(['success', 'warning', 'error']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        <strong>{{ message[0] }}</strong> {{ message[1] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock %}
{% endblock %}
</body>
</html>

